body {
    background-color:pink;
    colour: #FFF;
    font-family: 'Fredericka the Great', cursive;
    
}
    .profile-image {
        width: 200px;
        height: auto;
        position: absolute;
        top: 10px;
        right: 10px;
        border: 3px solid cornsilk;
        border-radius: 100px;

    }
}